/* common */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --bgBlack: #000000;
  --tBlack: #333333;
  --white: #ffffff;
  --bg: #5c5c5c;
  --secondary: #86878b;
  --light_gray: #f5f5f5;
  --tLIght: #bdbdbd;
  --orange: #ff8b38;
  --headingSec: #212121;
  --extraLight: #f4f4f4;
  --light: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header,
section,
footer {
  color: var(--bgBlack);
}

p{
  font-size: 14px;
  color: var(--secondary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  color: var(--headingSec);
  font-size: 20px;
}

h6{
  font-size: 14px;
}

.btn {
  font-size: 16px;
  margin: 45px 0 0;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}

.btn.white{
  font-weight: 500;
  color: var(--white);
  padding: 8px 30px;
  border: 2px solid var(--white);
}

.btn.orange{
  color: var(--white);
  padding: 12px 30px;
  background-color: var(--orange);
  border-radius: 4px;
}

.heading{
  margin: 0 0 60px;
}

.heading.center{
  text-align: center;
  margin: 0 0 120px;
}

.heading h5{
  position: relative;
}

.heading h1{
  font-weight: 300;
  color: var(--headingSec);
  position: relative;
}

.heading h5::after, .heading h1::after{
  content: "";
  width: 64px;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  bottom: -26px;
}

.heading.center h1::after{
  left: 50%;
  transform: translate(-50%, 0);
}

.heading p{
  margin: 54px 0 0;
}

.form_control{
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  color: var(--secondary);
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--tLIght);
  transition: 0.5s;
}

.form_control::placeholder{
  color: var(--secondary);
}

.form_control:focus{
  background-color: var(--extraLight);
  border-radius: 4px;
  transition: 0.5s;
}
/* \common */

/* header */
header {
  padding: 22px 0;
  background-color: var(--bgBlack);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 80px;
}

header .menu {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

header .menu li a {
  color: var(--white);
}
/* \header */

/* banner */
.banner {
  height: calc(100vh - 76.42px);
  display: flex;
  align-items: center;
  background: var(--bg) url(../images/banner_bg.png) no-repeat center;
  background-size: cover;
  color: var(--white);
}

.banner .container {
  display: grid;
  grid-template-columns: 50% 35%;
  align-items: center;
  justify-content: space-between;
}

.banner p{
  font-size: 16px;
  color: var(--white);
}

.banner .left_col img {
  width: 175px;
  margin: 0 0 20px;
}

.banner .left_col h1 {
  font-weight: 400;
  margin: 0 0 60px;
  position: relative;
}

.banner .left_col h1::after {
  content: "";
  width: 75px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: -30px;
}

.banner .left_col .btn:hover {
  border-color: var(--orange);
  background-color: var(--orange);
  transition: 0.5s;
}

.banner .right_col {
  border-radius: 10px;
}

.banner .right_col h4 {
  color: var(--tBlack);
  text-align: center;
  padding: 16px 0;
  background-color: var(--light_gray);
}

.banner .right_col h4 span {
  color: var(--orange);
}

.banner .right_col .input_box {
  padding: 30px 44px 50px;
  display: grid;
  row-gap: 20px;
  background-color: var(--white);
}

.banner .right_col .btn {
  border-radius: 0;
  padding: 16px 0;
  border: none;
  margin: 0;
}
/* \banner */

/* social */
.social {
  padding: 20px 0;
}

.social .container{
  display: flex;
  column-gap: 30px;
}

.social .left_col{
  width: 40%;
}

.social .right_col{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social .right_col a{
  font-size: 42px;
  color: var(--tLIght);
  transition: 0.5s;
}

.social .right_col a:hover{
  color: var(--orange);
  transition: 0.5s;
}
/* \social */

/* effect */
.effect{
  padding: 120px 0;
  background-color: var(--light_gray);
}

.effect .container{
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.effect .left_col{
  display: grid;
  row-gap: 1px;
}

.effect .left_col .effect_tab{
  width: 110px;
  height: 110px;
  background-color: var(--tBlack);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.effect .left_col .effect_tab:first-child{
  border-radius: 4px 4px 0 0;
}

.effect .left_col .effect_tab:last-child{
  border-radius: 0 0 4px 4px;
}

.effect .left_col .effect_tab.active{
  background-color: var(--orange);
}


.effect .right_col .heading {
  margin: 0 0 50px;
}

.effect .right_col .heading h5::after{
  background-color: var(--bg);
  position: initial;
}


.effect .right_col .effect_tab_content{
  display: none;
  animation: 1s fade;
}

.effect .right_col .effect_tab_content_in{
  display: flex;
  align-items: center;
  column-gap: 90px;
}


@keyframes fade {
  0% {
    opacity: 0.2;
  }
}

.effect .right_col .content{
  width: 60%;
}

.effect .right_col .pic{
  width: 40%;
}
/* \effect */

/* list */
.list{
  padding: 100px 0;
}

.list .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 160px;
  align-items: center;
  position: relative;
}

.list .right_col .boxes{
  margin: 50px 0 0;
  display: grid;
  row-gap: 40px;
}

.list .right_col .box{
  display: flex;
  column-gap: 30px;
}

.list .right_col .left_box .icon{
  width: 40px;
  height: 40px;
  border: 2px solid var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.list .right_col .left_box i{
  font-size: 14px;
  color: var(--orange);
}

.list .right_col .left_box h6{
  margin: 0 0 10px;
}
/* \list */

/* picture */
.picture{
  padding: 75px 0;
  background-color: var(--light_gray);
}

.picture .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 160px;
}

.picture .left_col p:not(:last-child){
  margin: 0 0 20px;
}
/* \picture */

/* awesome */
.awesome{
  padding: 100px 0;
}

.awesome .cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.awesome .col{
  text-align: center;
}

.awesome .col i{
  width: 70px;
  height: 70px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  font-size: 26px;
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}

.awesome .col h5{
  margin: 0 0 20px;
}
/* \awesome */

/* pricing */
.pricing{
  padding: 100px 0;
  background-color: var(--light_gray);
}

.pricing .cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  align-items: flex-end;
}

.pricing .col{
  text-align: center;
}

.pricing .col:hover .details{
  border-top: none;
}

.pricing .col:hover .details .info{
  height: 40px;
  transition: 0.5s;
}

.pricing .col .col_heading{
  padding: 20px 0;
  background-color: var(--tBlack);
  border-bottom: 1px solid var(--white);
}

.pricing .col .col_heading h5{
  color: var(--white);
}

.pricing .col .price{
  padding: 30px 0 20px;
  background-color: var(--tBlack);
  color: var(--white);
}

.pricing .col .price h1{
  line-height: 0.8;
  font-size: 96px;
  margin: 0 0 20px;
}

.pricing .col .price span{
  font-size: 34px;
}

.pricing .col .price h6{
  font-weight: 500;
  font-style: italic;
  color: var(--secondary);
}

.pricing .col .details{
  background-color: var(--white);
  border-top: 5px solid var(--orange);
}

.pricing .col .details .info{
  height: 0;
  overflow: hidden;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.pricing .col .details .info h6{
  color: white;
}


.pricing .col .details li{
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid var(--light_gray);
  color: var(--secondary);
}

.pricing .col .details li:last-child{
  border-bottom: none;
}
/* \pricing */

/* testimonial */
.testimonial{
  padding: 100px 0;
}

.testimonial .col_top{
  padding: 24px 10px;
  background-color: var(--light_gray);
  border-radius: 4px;
  margin: 0 0 30px;
  position: relative;
}

.testimonial .col_top::after{
  content: "";
  border-top: 20px solid var(--light_gray);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 25px;
  bottom: -20px;
}

.testimonial .col_top p{
  font-style: italic;
}

.testimonial .col_bottom{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.testimonial .col_bottom .pic{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial .col_bottom .pic img{
  border-radius: 100%;
}

.testimonial .col_bottom .name h5{
  margin: 0 0 4px;
}

.testimonial .col_bottom .name span{
  font-size: 14px;
  color: var(--secondary);
}
/* \testimonial */

/* axure */
.axure{
  padding: 80px;
  background: var(--bg) url(../images/axure_bg.png) no-repeat center;
  background-size: cover;
  text-align: center;
}

.axure .heading{
  margin: 0;
}

.axure .heading h1, .axure .heading p{
  color: white;
}
/* \axure */

/* contact */
.contact{
  padding: 100px 0;
  text-align: center;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.contact form .left_form{
  display: grid;
  row-gap: 30px;
}
/* \contact */

/* footer */
footer{
  padding: 16px 0;
  background-color: var(--bgBlack);
  text-align: center;
}

footer .social_links{
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10px;
}

footer .social_links a{
  font-size: 22px;
  color: var(--light);
}

footer p{
  font-size: 12px;
  color: var(--bg)
}
/* \footer */
